In [93]:
!pip -q install plotly --upgrade

Importing libraries

In [94]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

In [95]:
dataframe = pd.read_csv('../dataset/labor.csv', sep=';')
dataframe

,age,sex,'on thyroxine','query on thyroxine','on antithyroid medication',sick,pregnant,'thyroid surgery','I131 treatment','query hypothyroid',...,'TT4 measured',TT4,'T4U measured',T4U,'FTI measured',FTI,'TBG measured',TBG,'referral source',Class
0,41,F,f,f,f,f,f,f,f,f,...,t,125,t,1.14,t,109,f,?,SVHC,negative
1,23,F,f,f,f,f,f,f,f,f,...,t,102,f,?,f,?,f,?,other,negative
2,46,M,f,f,f,f,f,f,f,f,...,t,109,t,0.91,t,120,f,?,other,negative
3,70,F,t,f,f,f,f,f,f,f,...,t,175,f,?,f,?,f,?,other,negative
4,70,F,f,f,f,f,f,f,f,f,...,t,61,t,0.87,t,70,f,?,SVI,negative
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3767,30,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,f,?,other,negative
3768,68,F,f,f,f,f,f,f,f,f,...,t,124,t,1.08,t,114,f,?,SVI,negative
3769,74,F,f,f,f,f,f,f,f,f,...,t,112,t,1.07,t,105,f,?,other,negative
3770,72,M,f,f,f,f,f,f,f,f,...,t,82,t,0.94,t,87,f,?,SVI,negative
3771,64,F,f,f,f,f,f,f,f,f,...,t,99,t,1.07,t,92,f,?,other,negative

**Tratamento de linhas que contenhaam o '?'**

Vamos substituir todas as interrogações por 'NAN'

In [96]:
import numpy as np
# Substitui Nan por um caracter desejado
dataframe.replace('?', np.nan, inplace = True) # inplace = True também altera na base, não só na memória

**Vamos verificar a quantidade de valores não NaN ?**

In [97]:
dataframe.isnull().sum()

age                               1
sex                             150
'on thyroxine'                    0
'query on thyroxine'              0
'on antithyroid medication'       0
sick                              0
pregnant                          0
'thyroid surgery'                 0
'I131 treatment'                  0
'query hypothyroid'               0
'query hyperthyroid'              0
lithium                           0
goitre                            0
tumor                             0
hypopituitary                     0
psych                             0
'TSH measured'                    0
TSH                             369
'T3 measured'                     0
T3                              769
'TT4 measured'                    0
TT4                             231
'T4U measured'                    0
T4U                             387
'FTI measured'                    0
FTI                             385
'TBG measured'                    0
TBG                            3772
'referral source'                 0
Class                             0
dtype: int64

**Verificar, em %, quantos dados NaN existem na coluna em relação ao total de linhas**

Número de linhas NaN <br>
______________________ * 100<br>
Número total de linhas <br> <br>

In [100]:
dataframe.isnull().sum()/dataframe.shape[0]*100

age                             0.026511
sex                             3.976670
'on thyroxine'                  0.000000
'query on thyroxine'            0.000000
'on antithyroid medication'     0.000000
sick                            0.000000
pregnant                        0.000000
'thyroid surgery'               0.000000
'I131 treatment'                0.000000
'query hypothyroid'             0.000000
'query hyperthyroid'            0.000000
lithium                         0.000000
goitre                          0.000000
tumor                           0.000000
hypopituitary                   0.000000
psych                           0.000000
'TSH measured'                  0.000000
TSH                             9.782609
'T3 measured'                   0.000000
T3                             20.387063
'TT4 measured'                  0.000000
TT4                             6.124072
'T4U measured'                  0.000000
T4U                            10.259809
'FTI measured'                  0.000000
FTI                            10.206787
'TBG measured'                  0.000000
'referral source'               0.000000
Class                           0.000000
dtype: float64

**Excluindo colunas com mais de 85% de valores ausentes**

In [ ]:
limite = dataframe.shape[0]*0.85
drop_columns = []
quant_isnull = dataframe.isnull().sum()
columns = dataframe.columns
for q,c in zip(quant_isnull,columns):
  if q >= limite :
    drop_columns.append(c)